@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --verde-color: #2f615e;
    --fundo-color: #fff7cc;
    --branco-color: #fff;
}

.conteudo-login{
    max-width: 1080px;
    margin: 0 auto;
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 10vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}