:root{
  --verde-color: #2f615e;
  --fundo-color: #fff7cc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 100;
  font-style: normal;
  background-color: var(--fundo-color);
}